{% extends 'common.html' %}

{% block content %}
    {% load static %}

    <table class="table">
        <tr>
            <th style="font-size: 30px;font-family: 'Agency FB'" colspan="2">
                Delete Employee
            </th>
        </tr>
        <tr>
            <th>
                Employee IDNO
            </th>
            <th>
                {{ object.idno }}
            </th>
        </tr>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                {{ object.name }}
            </th>
        </tr>
        <tr>
            <th>
                <form method="post">
                    {% csrf_token %}
                <button type="submit" class="btn-danger">Delete</button>
                </form>
            </th>
            <th>
                <form action="{% url 'view_all_employees' %}">
                    <button type="submit" class="btn-warning">Cancel</button>
                </form>
            </th>
        </tr>
    </table>

{% endblock %}